In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [20]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\mpete\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [21]:
url = "https://redplanetscience.com"
browser.visit(url)

In [28]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain book information
article = soup.find('div', class_='list_text')
    
# # Iterate through each book
# for article in articles:
#     # Use Beautiful Soup's find() method to navigate and retrieve attributes    
#     title = article.find('div', class_='content_title').text
#     text = article.find('div', class_='article_teaser_body').text
#     print('-----------')
#     print(title)
#     print(text)
    
title = article.find('div', class_='content_title').text
text = article.find('div', class_='article_teaser_body').text
print(title)
print(text)

NASA's Treasure Map for Water Ice on Mars
A new study identifies frozen water just below the Martian surface, where astronauts could easily dig it up.

In [29]:
# browser.quit()

In [26]:
base_url = "https://spaceimages-mars.com/"
browser.visit(base_url)

In [27]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [30]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain book information
image = soup.find('div', class_='fancybox-inner')
image_url = image.find('img')['src']
featured_image_url = f"{base_url}{image_url}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [73]:
facts_url ="https://galaxyfacts-mars.com/"
tables = pd.read_html(facts_url)
df = tables[0]
df.columns = df.columns.get_level_values(0)
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [74]:

df.columns = df.iloc[0, :]
df.loc[-1] = ['Description', '', '']
df.index = df.index + 1
df = df.sort_index()
df.set_index('Mars - Earth Comparison', inplace=True)
df.index.name = None
df

0                                   Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [79]:
html_table = df.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Description</th>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [3]:
hemisphere_url = "https://marshemispheres.com/"
browser.visit(hemisphere_url)

In [18]:
hemisphere_list = ['Cerberus', 'Schiaparelli', 'Syrtis', 'Valles']

hemisphere_img_urls = []

for x in range(0, 4):
    
    browser.links.find_by_partial_text(hemisphere_list[x]).click()
    
    html = browser.html
    soup = bs(html, 'html.parser')
    title = soup.find('h2', class_='title').text
    
    div = soup.find('div', class_='wide-image-wrapper')
    
    img_link = div.find('a')['href']
    img_url = f'{hemisphere_url}{img_link}'
    
    hemisphere_dict = {'title': title,
                       'img_url': img_url}
    
    hemisphere_img_urls.append(hemisphere_dict)
    
    browser.links.find_by_partial_text('Back').click()
    
    
hemisphere_img_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/schiaparelli_enhanced-full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/syrtis_major_enhanced-full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'https://marshemispheres.com/images/valles_marineris_enhanced-full.jpg'}]

In [19]:
browser.quit()