In [1]:
from bs4 import BeautifulSoup as bs
import pandas as pd
from splinter import Browser
import requests
from webdriver_manager.chrome import ChromeDriverManager

In [14]:
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 89.0.4389
[WDM] - Get LATEST driver version for 89.0.4389

[WDM] - Driver [C:\Users\mpete\.wdm\drivers\chromedriver\win32\89.0.4389.23\chromedriver.exe] found in cache

In [3]:
url = "https://redplanetscience.com"
browser.visit(url)

In [12]:
# HTML object
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain book information
articles = soup.find_all('div', class_='list_text')
    
# Iterate through each book
for article in articles:
    # Use Beautiful Soup's find() method to navigate and retrieve attributes    
    title = article.find('div', class_='content_title').text
    text = article.find('div', class_='article_teaser_body').text
    print('-----------')
    print(title)
    print(text)

-----------
New Selfie Shows Curiosity, the Mars Chemist
The NASA rover performed a special chemistry experiment at the location captured in its newest self-portrait.
-----------
NASA's Perseverance Rover Goes Through Trials by Fire, Ice, Light and Sound
The agency's new Mars rover is put through a series of tests in vacuum chambers, acoustic chambers and more to get ready for the Red Planet.
-----------
NASA's Perseverance Rover Will Peer Beneath Mars' Surface
The agency's newest rover will use the first ground-penetrating radar instrument on the Martian surface to help search for signs of past microbial life.
-----------
NASA's New Mars Rover Is Ready for Space Lasers
Perseverance is one of a few Mars spacecraft carrying laser retroreflectors. The devices could provide new science and safer Mars landings in the future.
-----------
Space History Is Made in This NASA Robot Factory
From rockets to rovers, JPL's Spacecraft Assembly Facility has been at the center of robotic spaceflight. Here's a closer look at what makes it so special.
-----------
NASA's Mars 2020 Rover Closer to Getting Its Name
155 students from across the U.S. have been chosen as semifinalists in NASA's essay contest to name the Mars 2020 rover, and see it launch from Cape Canaveral this July.
-----------
NASA's MAVEN Observes Martian Night Sky Pulsing in Ultraviolet Light
Vast areas of the Martian night sky pulse in ultraviolet light, according to images from NASA’s MAVEN spacecraft. The results are being used to illuminate complex circulation patterns in the Martian atmosphere.
-----------
NASA Wins Two Emmy Awards for Interactive Mission Coverage
NASA-JPL's coverage of the Mars InSight landing earns one of the two wins, making this the NASA center's second Emmy.
-----------
6 Things to Know About NASA's Ingenuity Mars Helicopter
The first helicopter attempting to fly on another planet is a marvel of engineering. Get up to speed with these key facts about its plans.
-----------
The Extraordinary Sample-Gathering System of NASA's Perseverance Mars Rover
Two astronauts collected Moon rocks on Apollo 11. It will take three robotic systems working together to gather up the first Mars rock samples for return to Earth.
-----------
While Stargazing on Mars, NASA's Curiosity Rover Spots Earth and Venus
This new portrait of the Red Planet's neighbors was taken during a time when there's more dust in the air on Mars.
-----------
NASA Wins 4 Webbys, 4 People's Voice Awards
Winners include the JPL-managed "Send Your Name to Mars" campaign, NASA's Global Climate Change website and Solar System Interactive.
-----------
NASA Engineers Checking InSight's Weather Sensors
An electronics issue is suspected to be preventing the sensors from sharing their data about Mars weather with the spacecraft.
-----------
NASA-JPL Names 'Rolling Stones Rock' on Mars
NASA's Mars InSight mission honored one of the biggest bands of all time at Pasadena concert.
-----------
NASA Perseverance Mars Rover Scientists Train in the Nevada Desert
Team members searched for signs of ancient microscopic life there, just as NASA's latest rover will on the Red Planet next year.

In [13]:
# browser.quit()

In [26]:
base_url = "https://spaceimages-mars.com/"
browser.visit(base_url)

In [27]:
browser.links.find_by_partial_text('FULL IMAGE').click()

In [30]:
html = browser.html
# Parse HTML with Beautiful Soup
soup = bs(html, 'html.parser')
# Retrieve all elements that contain book information
image = soup.find('div', class_='fancybox-inner')
image_url = image.find('img')['src']
featured_image_url = f"{base_url}{image_url}"
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars2.jpg

In [31]:
browser.quit()

In [73]:
facts_url ="https://galaxyfacts-mars.com/"
tables = pd.read_html(facts_url)
df = tables[0]
df.columns = df.columns.get_level_values(0)
df

                         0                1                2
0  Mars - Earth Comparison             Mars            Earth
1                Diameter:         6,779 km        12,742 km
2                    Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
3                   Moons:                2                1
4       Distance from Sun:   227,943,824 km   149,598,262 km
5          Length of Year:   687 Earth days      365.24 days
6             Temperature:     -87 to -5 °C      -88 to 58°C

In [74]:

df.columns = df.iloc[0, :]
df.loc[-1] = ['Description', '', '']
df.index = df.index + 1
df = df.sort_index()
df.set_index('Mars - Earth Comparison', inplace=True)
df.index.name = None
df

0                                   Mars            Earth
Description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [79]:
html_table = df.to_html()
html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Description</th>\n      <td></td>\n      <td></td>\n    </tr>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'